<%- include('partials/header'); -%>

    <h1>About</h1>
    <p>
        <!-- // The value from the ejs template (p) is what passes the content from the App.js to the home file. -->
        <%= aboutValue %>
    </p>

    <%- include('partials/footer'); -%>