<%- include('partials/header'); -%>

    <h1>Compose</h1>
    <input type="text" class="input botton" placeholder="Type here">
    <input type="submit" class="submit-button" value="Push">





    <%- include('partials/footer'); -%>