<%- include('partials/header'); -%>

    <h1>Contact Me</h1>
<!-- // The value from the ejs template (p) is what passes the content from the App.js to the home file. -->
    <p>
        <%= contactValue %>
    </p>

    <%- include('partials/footer'); -%>