<%- include('partials/header'); -%>

    <h1>Home</h1>

    <!-- // The value from the ejs template (p) is what passes the content from the App.js to the home file. -->
    <p>
        <%= startContent %>
    </p>
    <%- include('partials/footer'); -%>